body {
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

h1 {
  color: pink;
}

h2 {
  color: pink;
}

.about-me-pic {
  width: 50%;
  margin-top: 16px;
}

header {
  display: flex;
  align-items: center;
  border: 9px solid pink;
  padding: 0 16px;
}

nav {
  margin-left: auto;
}

nav a {
  font-size: 22px;
  color: white;
  margin: 8px;
}

header h1 {
  font-size: 3em;
}

.hero {
  background-image: url("images/flamingos.jpeg");
  height: 200px;
  background-size: 334px;
  display: flex;
  align-items: end;
}

.hero h2 {
  margin-left: auto;
  color: black;
  background-color: white;
  padding: 8px;
  margin-right: 16px;
}

.section {
  display: flex;
  color: white;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-inline: 20px;
  overflow: hidden;
}

.section .title {
  border-right: 3px solid #91cfc4;
  padding-right: 16px;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
}

.section .content {
  font-size: 24px;
  color: pink;
  margin-left: 16px;
  margin-top: 12px;
  overflow: hidden;
}

.section .content .portfolio-image-container {
  position: relative;
  border: 1px solid black;
}
.section .content .portfolio-image-container:hover {
  border: 1px dashed pink;
}

.section .content .portfolio-image-container h3 {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 16px;
  background: white;
  padding: 8px;
  color: black;
}

.section h2 {
  word-wrap: break-word;
  font-size: 3em;
  color: pink;
  margin: 0 0 0 auto;
  justify-content: end;
  text-align: right;
}

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
  }
  nav {
    padding-bottom: 24px;
    margin-left: unset;
  }
  nav a {
    font-size: 16px;
  }
  .section {
    display: block;
  }

  .section .title {
    display: block;
    border-right: none;
    border-bottom: 3px solid #91cfc4;
  }

  .section h2 {
    text-align: left;
    margin-left: 16px;
    font-size: 24px;
  }
  .section .content p {
    font-size: 20px;
  }
  .section .content .portfolio-image-container h3 {
    font-size: 12px;
  }
}
.sections-container {
  border: 2px solid pink;
  padding-bottom: 16px;
}

.section .content p {
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.section a {
  color: white;
}

.content .my-work-images {
  width: 100%;
}
.content .smaller-work-images {
  display: flex;
  width: 100%;
}

.content .my-work-images img {
  width: 100%;
}
