body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;

}

h1 {
    color: pink;
}

h2 {
    color: pink;
}

header {
    display: flex;
    align-items: center;
    border: 9px solid pink;
    padding: 0 16px;
}

nav {
    margin-left: auto;
}

nav a {
    font-size: 22px;
    color: white;
    margin: 8px
}

header h1 {
    font-size: 3em;
}

.hero {
    background-image: url("images/flamingos.jpeg");
    height: 200px;
    background-size: 334px;
    display: flex;
    align-items: end;
}

.hero h2 {
    margin-left: auto;
    color: black;
    background-color: white;
    padding: 8px;
    margin-right: 16px;
}